#my1 {
  content: 'helloworld';
  s1: 3;
  s2: 5;
  s3: 11;
  s4: 5;
}
#my2 {
  s1: 1px 2px 3px 4px;
  s2: 1px 2px 3px 4px;
  s3: 4px;
  s4: 1px 2px 3px 4px;
}
#my3 {
  s1: 1px;
  s2: 1px 2px 3px 4px;
  s3: 1px;
  s4: '1px,2px,3px,4px';
}
#my4 {
  s1: 15px/3;
  s2: 15px/3;
  s3: 15px/3;
  s3: 5px;
}
.my-a {
  z-index: 0;
}
.my-b {
  z-index: 1;
}
.my-c {
  z-index: 2;
}
